<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>User Details</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
        <style>
            body{
                font-family: 'Alegreya SC';
                margin-left: 40px;
                background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/00/02/39/09561762aa9bc6a.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                color: black;   
                font-size: 18px;             
            }
        </style>    
    </head>
    <body>
    <h3>Thanks for filling out the form, please go back and enjoy the app!</h3>        
    </body>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-database.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCYmpm9pQvxkubFRsSijl-H5u-SliModJU",
        authDomain: "feelgood-58fe5.firebaseapp.com",
        databaseURL: "https://feelgood-58fe5.firebaseio.com",
        storageBucket: "feelgood-58fe5.appspot.com",
    };
    firebase.initializeApp(config);    
    </script>
</html>